/* Reset de estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* Contenedor principal */
.container {
    width: 95%;
    margin: 20px auto; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Títulos */
h2 {
    text-align: center;
    color: #333;
}

/* Filas y columnas flexibles */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-2 {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.section {
    margin-top: 20px;
}

/* Estilos para la tabla */
.table-container {
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.table-section {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
    background-color: #fff;
}

.table-section th, .table-section td {
    padding: 16px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-section th {
    background-color: #333;
    color: #fff;
}

.table-section tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.table-section tbody tr:nth-child(even) {
    background-color: #ddd;
}

.table-section tbody tr:hover {
    background-color: #ccc;
}

/* Estilos específicos para celdas de la tabla */
.acciones {
    width: 160px;
}

.email {
    width: 200px;
}

/* Estilos para formularios y botones */
form {
    margin-bottom: 20px;
}

.form-control {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* Estilos para la barra de desplazamiento en navegadores WebKit */
.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Sección específica con altura del 80% */
#seccion_usuarios {
    height: 120vh;
}

#buscar_peli {
    width: 40vw;
}

/* Estilos para los botones */
.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px; 
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #000000;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #000000;
}

.btn-warning {
    background-color: #f3eb00;
    color: #000000;
    border: 1px solid #000000;
}

/* Cambios en el estilo de hover para los botones */
.btn:hover {
    background-color: #218838;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning:hover {
    background-color: #adaf2f;
}

.movie-name {
    height: 60px;
    font-weight: bold;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    word-wrap: break-word; /* Permite que las palabras largas se dividan en varias líneas */
    overflow-wrap: break-word; /* Para navegadores más antiguos que no admiten word-wrap */
    margin-bottom: -5PX;
}

.movie-info {
    margin-bottom: 5PX;
}

img {
    width: 150px;
    height: 250px;
    border-radius: 5px;
}

.grid-container {
    display: flex;
}

.grid-item {
    text-align: center;
    margin: 12px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
