/* Reset de estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #222; /* Fondo más oscuro */
    color: #fff; /* Texto más claro */
}

/* Contenedor principal */
.container {
    background-color: #333; /* Color de fondo más oscuro */
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más oscura */
    padding: 20px;
    overflow: hidden; /* Evita que el contenido se desborde */
}

/* Títulos */
h1,
h3 {
    color: #fff; /* Texto más claro */
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
h5 {
    color: #000;
    font-weight: bolder
}
/* Filas y columnas flexibles */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-2 {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.section {
    margin-top: 20px;
}

/* Estilos específicos para celdas de la tabla */
.acciones {
    width: 160px;
}

.email {
    width: 200px;
}

/* Estilos para formularios y botones */
form {
    margin-bottom: 20px;
}

.form-control {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff; /* Texto más claro */
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

#buscar_peli {
    width: 40vw;
}

/* Estilos para los botones */
.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #000000;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #000000;
}

.btn-warning {
    background-color: #f3eb00;
    color: #000000;
    border: 1px solid #000000;
}

/* Cambios en el estilo de hover para los botones */
.btn:hover {
    background-color: #218838;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning:hover {
    background-color: #adaf2f;
}

/* Header */
#header {
    height: 85vh;
    background-image: url(../img/autocine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header.scroll-fade {
    transition: opacity 0.5s ease-in-out;
}

#header.scroll-fade.scrolled {
    opacity: 0.5;
}

#header h2 {
    font-weight: bolder;
    font-size: 10vw;
    color: red;
    text-shadow: -1px -1px 0 #000, 4px -1px 0 #000, -1px 4px 0 #000, 4px 4px 0 #000;
    font-family: 'EB Garamond', serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Navbar */
#navbar {
    transition: top 0.3s;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Estilos para la sección de usuarios */
#seccion_usuarios {
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título de la sección */
#seccion_usuarios h2 {
    text-align: center; /* Centrado */
    color: #fff; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para el menú de pestañas */
#menu {
    margin-bottom: 20px; /* Espaciado inferior */
    list-style: none; /* Sin viñetas */
    padding: 0; /* Sin relleno */
}

#menu li {
    display: inline-block; /* Mostrar en línea */
    margin-right: 10px; /* Espaciado derecho entre pestañas */
}

#menu li a {
    padding: 10px 20px; /* Relleno */
    text-decoration: none; /* Sin subrayado */
    color: #fff; /* Color del texto */
    background-color: #444; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px 5px 0 0; /* Bordes redondeados solo arriba */
    transition: background-color 0.3s ease; /* Transición suave */
}

#menu li a:hover {
    background-color: #555; /* Cambio de color al pasar el cursor */
}

/* Estilos para el contenido de las pestañas */
.tab-content {
    background-color: #555; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo abajo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para las tablas */
.table-container {
    max-height: 55vh; /* Altura máxima */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
    scrollbar-width: thin; /* Grosor de la barra de desplazamiento */
}

.table-section {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapso de bordes */
    margin-top: 10px; /* Espaciado superior */
    font-size: 16px; /* Tamaño de fuente */
}

.table-section th,
.table-section td {
    padding: 16px; /* Relleno */
    text-align: left; /* Alineación izquierda */
    border: 1px solid #ddd; /* Borde */
}

.table-section th {
    background-color: #444; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

.table-section tbody tr:nth-child(odd) {
    background-color: #666; /* Color de fondo de filas impares */
}

.table-section tbody tr:nth-child(even) {
    background-color: #555; /* Color de fondo de filas pares */
}

.table-section tbody tr:hover {
    background-color: #777; /* Cambio de color al pasar el cursor */
}

.icon-container {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    gap: 30px; /* Espacio entre los iconos */
}

.icon {
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor al pasar por encima del ícono */
}

#cont-btn {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
}

/* Estilos para las pestañas del menú */
#menu {
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
    margin-right: 10px;
}

#menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #444;
    border: 1px solid #ccc;
    border-bottom: none; /* Para ocultar el borde inferior del último enlace */
    border-radius: 5px 5px 0 0; /* Dar bordes redondeados solo en la parte superior */
    color: #fff;
}

#menu li a:hover {
    background-color: #555;
}

/* Estilos para las películas */
.movie-container {
    background-color: #333; /* Fondo más oscuro */
    border: 1px solid #666; /* Borde más oscuro */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más oscura */
}

.movie-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Sombra más oscura */
}

.movie-info p {
    margin: 5px 0;
}

label {
    color: rgb(0, 0, 0);
}